<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sus of a Scam?</title>
</head>
<body>
    <h1>Sus of a scam?</h1>
    <form id="predict-form">
        <input id="input-sms" type="text" placeholder="Copy and paste it here!">
        <button type="submit">Check</button>
    </form>
    <p id="result"></p>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
